$color-primary: #4880ff;
$color-gray-primary: #979797;
$color-gray-150: #f5f5f5;
$color-gray-100: #d5d5d5;
$color-gray-50: #f2f2f2;
$color-green-100: #00b69b;
$color-green-50: #ccf0eb;
$color-warning-100: #ef3826;
$color-warning-50: #fcd7d4;
$color-text-primary: #202224;
