@import "./variables.scss";
@import "@flaticon/flaticon-uicons/css/regular/rounded";
@import "@flaticon/flaticon-uicons/css/solid/rounded";
* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    color: #202224;
}

// custom paginate
.pagination-container {
    display: flex;
    column-gap: 10px;
  }
  .paginate-buttons {
    height: 30px;
    width: 30px;
    border-radius: 8px;
    cursor: pointer;
    // background-color: rgb(242, 242, 242);
    // border: 1px solid rgb(217, 217, 217);
    background-color: transparent;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .paginate-buttons:hover {
    background-color: #d8d8d8;
  }
  .active-page {
    background-color: #3498db;
    border: 1px solid #3498db;
    color: white;
  }
  .active-page:hover {
    background-color: #2988c8;
  }