/* .chat-detail-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	background: #ffffff;
} */
.showBookmarkIcon {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #00693b;
    margin-bottom: 4px;
}
/* .chat-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	background-color: white;
	border-right: 1px solid #c2cfe0;
	display: flex !important;
  	flex-flow: column;
} */

/* .reply-container {
	position: absolute;
	height: 100%;
	right: 0px;
	min-width: 310px;
} */

/* .chat-detail-header {
	width: 100%;
	height: 48px;
	background: #ffffff;
	border-bottom: 1px solid #c2cfe0;
	display: flex;
	align-items: center;
	padding: 0px 24px;
	padding-left: 20px;
} */

.detail-chat-header-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #334d6e;
	clear: both;
	display: inline-block;
	padding-left: 8px;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	text-overflow: ellipsis;
	margin-right: 6px;
	padding-right: 6px;
}
.detail-chat-header-avatar:hover {
	cursor: pointer;
}



.header-hover {
	position: relative;
}

.detail-chat-header-tab p {
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.detail-chat-header-tab {
	overflow: hidden;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #525252;
    clear: both;
    min-width: 64px;
    height: 33px;
    display: flex;
    justify-content: center;
    border-radius: 21px;
    padding: 0 13px;
	margin-right: 5px;
}
.unread-ic {
	position: relative;
	margin-left: 5px;
    background: #e96616;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
	min-width: 16px;
    border-radius: 50%;
    font-size: 11px;
    color: white;
}
.detail-chat-header-tab:hover {
	cursor: pointer;
    background: #c3c3c34d;
	transition: 0.2s ease-in-out;
}

.detail-chat-header-tab-active {
    color: #00693b;
    background: #c3c3c34d;
}

.chat-detail-body {
	position: relative;
	width: 100%;
	height: 100%;
	flex: 1;
}

.chat-messages-container {
	width: 100%;
	position: absolute;
	top: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 24px 0px;
	padding-top: 20px;
}

.chat-send-container {
	width: 100%;
	position: absolute;
	bottom: 0px;
}

.chat-detail-div {
	position: relative;
	padding: 4px 20px;
	margin: auto;
}

.chat-detail-div:hover {
	background-color: #f9f9f9;
}

.chat-detail-div:hover .action-container {
	display: block;
}

.chat-detail-div-edit {
	background: #fff7e5;
}

.chat-detail-div-edit:hover {
	background: #fff7e5;
}
/* 
.replyContainer {
	width: 100%;
	height: 100%;
	position: absolute;
} */

/* .detail-reply-header {
	position: absolute;
	left: 0px;
	top: 0px;
	border-bottom: 1px solid #c2cfe0;
	height: 48px;
	width: 100%;
	padding: 12px 20px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #334d6e;
} */

.detail-reply-close-icon {
	position: absolute;
	top: 12px;
	right: 24px;
}

.detail-reply-close-icon:hover {
	cursor: pointer;
}

/* .detail-reply-container {
	width: 100%;
	height: calc(100% - 48px);
	position: absolute;
	padding-top: 14px;
	overflow-x: hidden;
	padding-bottom: 24px;
	bottom: 0px;
	overflow-y: auto;
} */

.reply-send-container {
	margin-top: 12px;
}

.total-count-replies-container {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 16px;
}

.total-count-replies-show {
	top: 50%;
	font-size: 13px;
	line-height: 22px;
	letter-spacing: .02em;
	color: #525252;
	background: #fff;
	position: relative;
	clear: both;
	display: inline-block;
	width: 77px;
}

.total-count-replies-hr {
	width: 100%;
	background: #cdd6df;
	height: 1px;
}

.detailChatHeaderAvata {
	height: 100%;
	margin-left: auto;
	display: flex;
	align-items: center;
}

.header-chat-icon {
	cursor: pointer;
}

.header-chat-search-icon {
	margin-right: 18px;
}

.header-chat-search-icon:hover {
	cursor: pointer;
}

.header-chat-setting-icon:hover {
	cursor: pointer;
}

.header-chat-user-line{
	background: #cdd6df;
	height: 40px;
	margin: 0 12px;
	width: 1px;
}

.settingContainer {
	position: relative;
}

.overlayChat {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 4;
	display: flex;
	justify-content: center;
	align-items: center;
}

.backChat {
	display: none;
	margin-right: 4px;
}

.backChat:hover {
	cursor: pointer;
}

.unreadHr {
	background: #cdd6df;
	height: 1px;
	width: 100%;
}

.unreadShow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;

	background-color: white;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.01em;
	color: #f46414;
	text-align: center;
	letter-spacing: 0.01em;

	padding: 0px 16px;

	border: 1px solid #cdd6df;
}

.unreadContainer {
	text-align: center;
	position: relative;
	margin: 24px 0px;
}

.showScrollUnreadContainer {
	position: absolute;
	width: 100%;
	padding: 7px;
	top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.showScrollUnread {
	background: #ffffff;

	border: 1px solid #cdd6df;
	box-sizing: border-box;
	border-radius: 10px;

	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.02em;
	color: #f46414;

	clear: both;
	display: inline-block;
	padding: 6px 12px;
	z-index: 2;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
}

.showScrollUnread:hover {
	cursor: pointer;
}

.chat-detail-div-index {
	background: #fff7e5;
}

.chat-detail-div-index:hover {
	background: #fff7e5;
}

.chat-pinned {
	background: #fff7e5;
}

@media screen and (max-width: 600px) {
	.chat-detail-body {
		position: absolute;
		width: 100%;
		height: calc(100% - 102px);
		bottom: 0px;
	}
	/* .replyContainer {
		padding-top: 57px;
	} */
	/* .detail-reply-header {
		position: relative;
	} */
	/* .detail-reply-container {
		position: relative;
	} */
	.backChat {
		display: block;
	}

	.chat-detail-header {
		padding: 0px 8px;
		top: 55px;
		z-index: 1;
	}
}

