:root {
    --color-primary: #3E4784;
    --color-primary-1: #4E5BA6;
    --color-text-primary-active: #293056;
    --color-primary-sidebar-hover: #717BBC;
    --color-buttons: #fbbc05;
    --color-typography: #ea4335;
    --color-border-primary: #D0D5DD;
}