:root {
  --color-primary: #3e4784;
  --color-primary-1: #4e5ba6;
  --color-text-primary-active: #293056;
  --color-primary-sidebar-hover: #717bbc;
  --color-buttons: #fbbc05;
  --color-typography: #ea4335;
  --color-border-primary: #d0d5dd;
}
