/* THEME OPTIONS */
@import './nprogress.css';
:root {
  --loader-width: 250px;
  --loader-dot-size: 16px;
}
body {
  font-size: 14px;
  min-height: 100vh;
  height: 100vh;
  color: rgb(15, 20, 25);
}

hr {
  color: #e5e4e6;
}

textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

textarea::-webkit-scrollbar {
  display: none;
}
