/* THEME OPTIONS */
@import "./themes/default.css";
@import "./themes/green.css";

body {
  font-size: 14px;
  min-height: 100vh;
  height: 100vh;
  color: #202b38;
}

hr {
  color: #e5e4e6;
}

::placeholder {
  color: #bdbdbd;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: #bdbdbd;
}
ol.dec {
  list-style-type: decimal; /* 1, 2, 3, ... */
}

ol.a {
  list-style-type: lower-alpha; /* a, b, c, ... */
}

ol.i {
  list-style-type: lower-roman; /* i, ii, iii, ... */
}

ol.A {
  list-style-type: upper-alpha; /* A, B, C, ... */
}

ol.I {
  list-style-type: upper-roman; /* I, II, III, ... */
}

input {
  outline: none;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}