@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;

  @layer base {
    :root {
      --primary: 247 68% 62%;
      --primary-foreground: 210 40% 98%;
      --radius: 0.5rem;
    }
  }
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
